{% extends "base.html.j2" %}{% block content %}
<article>
    <hgroup>
        <h2>
            Список магазинов
        </h2>
    </hgroup>
    <table>
        <tr>
            <td>
                Название магазина
            </td>
            <td>
                Город
            </td>
            <td>
                Улица
            </td>
            <td>
                Дом
            </td>
            <td>
                Время открытия
            </td>
            <td>
                Время закрытия
            </td>
        </tr>
        {% for shop in shops %}
        <tr>
            <td>
                {{shop.name}}
            </td>
            <td>
                {{shop.city}}
            </td>
            <td>
                {{shop.street}}
            </td>
            <td>
                {{shop.house}}
            </td>
            <td>
                {{shop.opening_time}}
            </td>
            <td>
                {{shop.closing_time}}
            </td>
        </tr>
        {% endfor %}
    </table>
</article>
{% endblock content %}