{% extends "base.html.j2" %}{% block content %}
<article>
<hgroup>
<h2>
Список улиц
</h2>
</hgroup>
<table>
{% for street in streets %}
    <tr>
        <td>
            {{street.name}}
        </td>
    </tr>
{% endfor %}
</table>
</article>
{% endblock content %}